<%- include('partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>

  <h1>Welcome to Mood Journal!</h1>
  <p>If you are a user already, please log in above. If not, please sign up!</p>
  <h2>Let's begin!</h2>
  <button><a href="/moods">Track Mood:</a></button>
  <table>
    <thead>
      <tr>
        <th>Mood</th>
        <th>User</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% moods.forEach(mood => { %>
        <tr>
          <td><%= mood.rating %></td>
          <td><%= mood.user %></td>
          <% mood.notes.forEach(note => { %>
            <td><%= note.text %></td>
          <% }); %>   
          <td>
            <a href="<%= mood._id %>/notes">Notes</a>
          </td>
          <td>
            <a href="<%= mood._id %>/mood">Update Mood</a>
          </td>
        </tr>
      <% }); %>     
    </tbody>
  </table>
  </body>
</html>

<%- include('partials/footer') %>

