<%- include('partials/header') %>

  <h1>Welcome to Mood Journal!</h1>
  <p>If you are a user already, please log in above. If not, please sign up!</p>
  <h2>Let's begin!</h2>
  <button><a href="/moods">Track Mood:</a></button>
  <table>
    <thead>
      <tr>
        <th>Mood</th>
        <th>User</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% moods.forEach(mood => { %>
        <tr>
          <td><%= mood.rating %></td>
          <td><%= mood.user %></td>
          <% mood.notes.forEach(note => { %>
            <td><%= note.text %></td>
          <% }); %>   
          <td>
            <a href="<%= mood._id %>/notes">Notes</a>
          </td>
          <td>
            <form method="GET" action="<%= mood._id%>/mood">
              <input type="hidden" value="<%= mood._id %>" name="mood"/>
              <input type="submit" value="update mood"/> 
            </form>
            <form method="POST" action="/<%= mood._id %>?_method=DELETE">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>     
    </tbody>
  </table>
  </body>
</html>

<%- include('partials/footer') %>

